@model IEnumerable<Models.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row">
        @foreach(var i in Model)
        {
            <div class="col-3 p-3 text-center shadow border rounded-2">
                <h6 class="fw-bold">From: @i.Airline.AirPortLeave.Name</h6>
                <h6 class="fw-bold">To: @i.Airline.AirPortArrive.Name</h6>
                <h6 class="fw-bold">Description: @i.Description</h6>
                <h6 class="fw-bold">Price: @i.Price</h6>
                <h6 class="fw-bold">Leave At: @i.LeaveAt</h6>
            </div>
        }
    </div>
</div>